<html>
<head>
<link rel="stylesheet" href="css/index.css">
<script src="js/index.js"></script>

</head>
<body>
<h1 align="center">Reverse Proxy</h1>
<div align ="center">
<h2>Created using Apache and Node.js</h2>
<img src="images/reverseproxy.svg" width="50%"></img>
<h3>Benefits</h3>
<p>Increase security by load balancing and distributing requests to multiple servers</p>
<p>Caching static data to increase speed and reduce load on servers</p>
<p>Increasing security by configuring and redirecting requests from http to https</p>
</div>
</html>